<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <switches>
      <!-- 
             0 - Disabled
             1 - Enabled
            -->
      <add name="TraceEnabled" value="1"/>
      <!-- 
             0 - Disabled
             1 - Gives error messages
             2 - Gives errors and warnings 
             3 - Gives more detailed error information
             4 - Gives verbose trace information 
            -->
      <add name="TraceLevel" value="4"/>
    </switches>
  </system.diagnostics>
  <appSettings>
    <!-- 
             Serial Port BaudRate.
             0 - 9600
             1 - 19200
             2 - 38400
             3 - 57600
             4 - 115200
            -->
    <add key="SerialSpeed" value="4"/>
    <!-- 
             SDR Sensor Number
            -->
    <add key="SensorNo" value="1"/>
    <!-- 
             SDR Sensor Type, must match the type of SensorNo
             above.  Mismatch will result in an error
            -->
    <add key="SensorType" value="1"/>
    <!-- 
             Bmc authentication user name.  Incorrectly setting the bmc login 
             will result in 0xD4 completion codes or Timeouts.  Logon retry attempts are
             determined by the "BmcLogOnRetries" paramater
            -->
    <add key="BmcUserName" value="admin"/>
    <!-- 
             Bmc authentication user password.  Incorrectly setting the bmc password 
             will result in 0xD4 completion codes or Timeouts.  Logon retry attempts are
             determined by the "BmcLogOnRetries" paramater.  
            -->
    <add key="BmcUserKey" value="admin"/>
    <!-- 
             Second User Name (Used for password reset, should not be the same as:
             BmcUserName above).
            -->
    <add key="SecondUser" value="TestUser"/>
    <!-- 
             User Id (Used for password reset, Id should not equal 0 or 1).
             Valid ranges are 1-15.
            -->
    <add key="UserId" value="2"/>
    <!-- 
             Processor Number.  1 based index for the process the Get Processor Informaiton
             BMC Command.
            -->
    <add key="ProcessorNo" value="1"/>
    <!-- 
             Memory Number.  1 based index for the process the Get Memory Informaiton
             BMC Command.
            -->
    <add key="MemoryNo" value="1"/>
    <!-- 
             PCIe Number.  1 based index for the process the Get PCIe Informaiton
             BMC Command.
            -->
    <add key="PCIeNo" value="1"/>
    <!-- 
             Nic Number.  0 based index for the process the Get Nic Informaiton
             BMC Command.
            -->
    <add key="NicNo" value="1"/>
    <!-- 
             Watts for Setting Power Limits
            -->
    <add key="LimitWatts" value="210"/>
    <!-- 
             Power Limit Correction Time
            -->
    <add key="LimitCorrection" value="0"/>
    <!-- 
             Power Limit Action
            -->
    <add key="LimitAction" value="0"/>
    <!-- 
             Power Limit Sampling Period
            -->
    <add key="LimitPeriod" value="0"/>
    <!-- 
             Trace LogFile Path
            -->
    <add key="ReportLogFilePath" value="C:\\TraceLog.txt"/>
    <!-- 
             Warning! ! ! Incorrectly setting the population field
             can severly impact the performance of the chassis 
             management system.
             Ranges:
                24 = 24 Blades in the Chassis (default)
                48 = 48 Blades in the Chassis
            -->
    <add key="Population" value="1" />
    <!-- 
             Bmc authentication user name.  Incorrectly setting the bmc login 
             will result in 0xD5 completion codes.  Logon retry attempts are
             determined by the "BmcLogOnRetries" paramater
            -->
    <add key="BmcUserName" value="admin" />
    <!-- 
             Bmc authentication user password.  Incorrectly setting the bmc password 
             will result in 0xD4 completion codes.  Logon retry attempts are
             determined by the "BmcLogOnRetries" paramater.  
            -->
    <add key="BmcUserKey" value="admin" />
    <!-- 
             Bmc session time-out paramater.  The number is in 30 second intervals:
             A value of 1 = 30 seconds, 2 = 1 minute, 4 = two minutes... etc 
            -->
    <add key="BmcSessionTime" value="6" />
    <!-- 
             Serial Timeout in ms
     -->
    <add key="SerialTimeout" value="100" />
    <!-- 
             The number of consecutive gpio read errors before the master chip is reset
     -->
    <add key="GpioErrorLimit" value="3" />
    <!-- 
             Number of fans in chassis.
            -->
    <add key="NumFans" value="6" />
    <!-- 
             Number of PSUs in chassis.
            -->
    <add key="NumPsus" value="6" />
    <!-- 
             Number of power switches (aka AC sockets) in chassis.
            -->
    <add key="NumPowerSwitches" value="3" />
    <!-- 
             Wait Time After AC Socket Power Off In Msecs (aka AC sockets) to prevent inconsistent hardware state, 
             especially when followed immediately by a ACSocket Power On command.
            -->
    <add key="WaitTimeAfterACSocketPowerOffInMsecs" value="1000" />
    <!-- 
             Wait Time After Blade hard Power Off (SetPowerOff) In Msecs to prevent inconsistent hardware state, 
             especially when followed immediately by a Blade hard Power On (SetPowerOn) command.
            -->
    <add key="WaitTimeAfterBladeHardPowerOffInMsecs" value="100" />

    <!-- 
             Number of Nics in Blades.
            -->
    <add key="NumNicsPerBlade" value="2" />
    <!--
    Chassis Manager Trace log file path
    -->
    <add key="TraceLogFilePath" value="C:\\ChassisManagerTraceLog.svclog"/>
    <!--
    Chassis Manager Trace log file size
    -->
    <add key="TraceLogFileSize" value="1000000" />
    <!--
    Chassis Manager User log file path
    -->
    <add key="UserLogFilePath" value="C:\\ChassisManagerUserLog.svclog"/>
    <!--
    Chassis Manager Trace log file size
    -->
    <add key="UserLogFileSize" value="100000" />
    <!--
    Ipmi System Event Log xml File
    -->
    <add key="EventLogXml" value="C:\\ChassisManager\\EventDataStrings.xml" />
    <!--
    Time period for Monitoring thread (every blade will be polled every GetTimePeriod milliseconds)
    -->
    <add key="GetTimePeriod" value="10000" />
    <!--
    Time period for Set thread (sets fan speed, resets WatchDogTimer) - in milliseconds
    -->
    <add key="SetTimePeriod" value="10000" />
    <!--
    Maximum PWM value that can be set - now this is equal to 100
    -->
    <add key="MaxPWM" value="100" />
    <!--
    Minimum PWM value that can be set - now this is equal to 100
    -->
    <add key="MinPWM" value="20" />
    <!--
    Step PWM value that can be set - now this is equal to 10
    -->
    <add key="StepPWM" value="10" />
    <!--
    Sensor number for inlet sensor (specific to each HW implementation)
    -->
    <add key="InputSensor" value="1" />
    <!--
    Sensor Low Threshold value (Warning - change this value only if using any other sensor other than PWM)
    -->
    <add key="SensorLowThreshold" value="0" />
    <!--
    Sensor High Threshold value (Warning - change this value only if using any other sensor other than PWM)
    -->
    <add key="SensorHighThreshold" value="100" />
    <!--
    ChassisManager Fan Altitude correction
    Correction Factor - 3.2% is determined from HW Spec 
    Altitude - total ft above sea level (default value is 0 - this should be edited during deployments)
    Warning! ! ! Incorrectly setting the altitude can increase fan speeds to less optimal levels
    -->
    <add key="AltitudeCorrectionFactor" value="0.032" />
    <add key="Altitude" value="0" />
    <!--
    Maximum number of retries allowed for initialization or timeouts
    -->
    <add key="MaxRetries" value="3" />
    <!--
    High value that is required to set LED to high
    -->
    <add key="LEDHigh" value="10" />
    <!--
    Low value that is required to set LED to minimum
    -->
    <add key="LEDLow" value="0" />
    <!--
    Value for maximum number of failures tolerated by state management before retrying initialization
    -->
    <add key="MaxFailCount" value="5" />
    <!--
    ChassisManager FRU offsets that need to be set depending on FRU type
    Warning! ! ! Incorrectly setting the Offsets can severely impact correctness of FRU data read or written
    -->
    <add key="CMStartingOffset" value="0" />
    <add key="CMFruLength" value="256" />
    <add key="InternalUseSize" value="72" />
    <add key="ChassisInfoSize" value="32" />
    <add key="BoardInfoSize" value="64" />
    <add key="ProductInfoSize" value="80" />
    <!--
    Sensor Ids for On Blade Disk Drives - refer Specification and edit these sensor values
    -->
    <add key="BladeDisk0" value="243" />
    <add key="BladeDisk1" value="244" />
    <add key="BladeDisk2" value="245" />
    <add key="BladeDisk3" value="246" />
    <!--
    Sensor Ids for Health Diagnostics - refer Specification and edit these sensor values
    -->
    <add key="CPU0ProcHotSensor" value="187" />
    <add key="CPU1ProcHotSensor" value="188" />
    <add key="PCIeBusSensor" value="161" />
    <add key="SPSFWSensor" value="23" />
    <!--
    Max work queue length of the port manager
    -->
    <add key="MaxPortManagerWorkQueueLength" value="20" />
    <!--
    Min value for Blade Power Limit
    -->
    <add key="MinPowerLimit" value="120" />
    <!--
    Max value for Blade Power Limit
    -->
    <add key="MaxPowerLimit" value="1000" />
    <!--
    Service timeout in minutes
    -->
    <add key="ServiceTimeoutInMinutes" value="2" />
    <!--
    Max value for Serial Console Ports
    -->
    <add key="MaxSerialConsolePorts" value="4" />
    <!--
    Serial console session internal parameters 
    -->
    <add key="InactiveSerialPortId" value="-1111" />
    <add key="InactiveSerialPortSessionToken" value="-1111" />
    <add key="SecretSerialPortSessionToken" value="-9999" />
    <!--
    Serial port console client session inactivity timeout in multiple of seconds
    -->
    <add key="SerialPortConsoleClientSessionInactivityTimeoutInSecs" value="120" />
    <!--
    Serial port console serial device communication response timeout in milliseconds 
    -->
    <add key="SerialPortConsoleDeviceCommunicationTimeoutInMsecs" value="100" />
    <!--
    Blade serial session internal parameters 
    -->
    <add key="InactiveBladePortId" value="-1111" />
    <add key="InactiveBladeSerialSessionToken" value="-1111" />
    <add key="SecretBladePortId" value="-9999" />
    <add key="SecretBladeSerialSessionToken" value="-9999" />
    <!--
    Blade serial session inactivity timeout in minutes
    -->
    <add key="TimeoutBladeSerialSession" value="2" />
    <!--
    Port number where the service listens.
    Make sure the port do not have any firewall restrictions and not used by any other application.
    -->
    <add key="CmServicePortNumber" value="8000" />
    <!--
    1 - if ssl encryption using certificates is enabled
    0 - if ssl encryption using certificates is disabled (communication content between client and CM will be sent in plain text)
    -->
    <add key="EnableSslEncryption" value="0" />
    <!--
    Name of the SSL certificate (either self-signed/local or active-directory generated)
    The certificate has to be placed in local computer default certificate store
    -->
    <add key="SslCertificateName" value="CMServiceServer" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--
    1 - Terminate an existing blade serial console session and allow incoming blade command to proceed (default behavior)
    0 - DO NOT interrupt an already existing blade serial console session and ignore the incoming blade command.
    -->
    <add key="KillSerialConsoleSession" value="0" />
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
